<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/producto.css" />
  </head>
  
  <body>
    <%- include('./partials/header'); %>
    
    <div class="fondo">
      <img src="/img/ladrillos.jpg" alt="" style="width:100%">
      <div class="login-box" style="top: 350px">
        <% if (locals.producto){  %>
          <h1>edición de producto</h1>
          <% } else { %>
            <h1>Creación de producto</h1>
            <% } %>
        <form action="/productos/<%= locals.producto? "editar-producto/"+producto.id+"?_method=PUT": "crear-producto" %>" method="post" enctype="multipart/form-data">
         
          
        <div style="margin-bottom:18px;">
          <label for="NombreDelProducto ">Nombre del Producto</label>
          <input id="crearProductoNombre" type="text" name="nombre" value="<%= locals.producto? producto.nombre: "" %>" placeholder="Nombre del producto" />

          <p id="crearProductoFormErrorNombre" class="formError">El campo no puede estar vacío.</p>
        </div>

        <div style="margin-bottom:24px;">
          <label for="Descripcion">Descripcion</label>
          <input id="crearProductoDescripcion" type="text" name ="descripcion" placeholder="Descripcion" value="<%= locals.producto? producto.descripcion: "" %>" />

          <p id="crearProductoFormErrorDescripcion" class="formError">El campo no puede estar vacío.</p>
        </div>

        <div style="margin-bottom:24px;">
          <label for="Precio">Precio</label>
          <input id="crearProductoPrecio" type="text" name="precio" pattern="\d*" placeholder="Ingrese el precio" value="<%= locals.producto? producto.precio: "" %>"/>

          <p class="formError"></p>
          <p id="crearProductoFormErrorPrecio" class="formError">*El valor solo puede ser numérico.</p>
        </div>

        <div style="margin-bottom:24px;">
          <label for="urlImagen">Imagen</label>
          <input id="crearProductoFormUrlImg" type="text" name="urlImagen" placeholder="Url de la imagen">

          <p id="crearProductoFormErrorUrlImg" class="formError">El campo no puede estar vacío.</p>

          <% /* %>
          <label for="imagen">Archivo</label>
          <input type="file" name="imagen" placeholder="imagen" />
          <% */ %>
        </div>

        <div style="margin-bottom:24px;">
          <label for="Categoria">Categoria</label>
           <select name="categoria">
            <% for (let i = 0; i < categorias.length; i++) { %>
							<% if (categorias[i].id == productos.categoria) {%>

								<option value="<%=categorias[i].id%>" selected>
									<%=categorias[i].nombre%>
								</option>

							<% } else { %>

								<option value="<%=categorias[i].id%>">
									<%=categorias[i].nombre%>
								</option>

							<% } %>

						<% } %>
          </select>
        </div>
          <button class="Agregar" type="submit">Agregar</button>
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>

    <script src="/js/validaciones.js"></script>

    <script>
      document.getElementById("crearProductoNombre").addEventListener("click", function(event){
          document.getElementById("crearProductoFormErrorNombre").style.display = "block";
      });

      document.getElementById("crearProductoDescripcion").addEventListener("click", function(event){
          document.getElementById("crearProductoFormErrorDescripcion").style.display = "block";
      });

      document.getElementById("crearProductoPrecio").addEventListener("click", function(event){
          document.getElementById("crearProductoFormErrorPrecio").style.display = "block";
      });

      document.getElementById("crearProductoFormUrlImg").addEventListener("click", function(event){
          document.getElementById("crearProductoFormErrorUrlImg").style.display = "block";
      });
    </script>
  </body>
</html>
