<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include('./partials/head'); %>
  <title>Total Toys</title>
  </head>

  <body>
    <%- include('./partials/header'); %>
  <!-----seccion del baneer -->
  <div style="text-align:center">
    <iframe width="100%" height="450" 
    src="https://www.youtube.com/embed/ySQQM8lohfI" title="Totaltoys" frameborder="0" allow="accelerometer; autoplay=1&mute=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
  


<!--------- secion productos -->
<section id="listadoProductosHome">
  <h1 style="margin-top: 50px; text-align: center; " class="listado"> Productos más vendidos </h1> 
  

  <div class="seccionDeLosProductos" style="display: flexbox; justify-content: space-between;">
    
    <% for (let i = 0; i < Productos.length; i++) { %>

    <div class="producto">
      <a href="/productos/detalle-producto/<%=Productos[i].id%>">
      <div class="producto-image">
        <img src="<%=Productos[i].urlImagen%>"/>
      </div>
      
      <br>
      <br>

      <p class="productoNombre"><%=Productos[i].nombre%></p>
      <p class="productoPrecio">$&nbsp<%=Productos[i].precio%></p>
      
      
      <div class="contenedor-botones">
        <button class="boton-comprar btn "><span><i class="fa-solid fa-cart-shopping"></i>&nbsp Agregar Al Carrito</span></button>
      </div>
    </div>
    
  
    <% } %>
    </div>



    
    </div>
  </a>
  </div>
  <hr>
</section>

  <%- include('./partials/footer'); %>


  </body>
</html>
  