<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include('./partials/head'); %>
  <title>Total Toys</title>
  </head>

  <body>
    <%- include('./partials/header'); %>
  <!-----seccion del baneer -->
  <div style="text-align:center">
    <video autoplay muted style="max-width: 850px; text-align: center">
      <source src="/videos/video-totaltoys.mp4" type="video/mp4" styles="margin: auto">
    Your browser does not support the video tag.
    </video>
  </div>
  


<!--------- secion productos -->
<section id="listadoProductosHome">
  <h1 style="margin-top: 50px; text-align: center;">Últimos productos</h1>
  <div class="seccionDeLosProductos" style="display: flexbox; justify-content: center;">
    
    <% for (let i = 0; i < Productos.length; i++) { %>

    <div class="producto">
      <a href="/productos/detalle-producto/<%=Productos[i].id%>">
      <div class="producto-image">
        <img src="<%=Productos[i].urlImagen%>"/>
      </div>
      <p><%=Productos[i].nombre%></p>
      <strong><%=Productos[i].precio%></strong>
      
      <div class="contenedor-botones"> 
        <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
      </div>
    </div>
    
  
    <% } %>
    </div>
    </div>
  </a>
  </div>
  <hr>
</section>

  <%- include('./partials/footer'); %>


  </body>
</html>
  