<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include('./partials/head'); %>
  <title>Total Toys</title>
  </head>

  <body>
    <%- include('./partials/header'); %>
<!-----seccion del baneer -->
    <div class="baner">
      <div class = "capa"></div>
      <div class="info">
      <h1>Bienvenidos a Total Toys </h1> 
      <p>un lugar para soñar y encontrar tus juguetes preferidos</p>
      <a href="/Sobrenosotros.ejs">Acerca de nosotros</a></div>
    </div>


<!--------- secion productos -->
<section>
  <div class="seccionDeLosProductos">
    
    <% for (let i = 0; i < products.length; i++) { %>

    <div class="producto">
      <a href="/productos/detalle-producto/<%=products[i].id%>">
      <div class="producto-image">
      <img src="/img/ninos/<%=products[i].imagen%>"/>
      </div>
      <p>
      <%=products[i].nombre%>
      </p>
      <strong>
      <%=products[i].precio%>
      </strong>
      

    <div class="contenedor-botones"> 
      <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
    </div>
    </div>
    
  
    <% } %>
    </div>
    </div>
  </a>
  </div>
  
</section>

  <%- include('./partials/footer'); %>


  </body>
</html>
  