<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head'); %>
		<title>Total Toys</title>
</head>

<body>
	<%- include('./partials/header') %>

		<!--------seccion productos-->
		<section>
			<div class="seccionDelosProductos" style="display: flex; flex-wrap: wrap; justify-content: center;">
				<% Productos.forEach(singleProduct=> { %>

					<div class="producto">
						<a href="/productos/detalle-producto/<%=singleProduct.id%>">
							<div class="producto-image">
								<img src="<%=singleProduct.urlImagen%>" />
							</div>
							
						</a>

						<hr>

						<p class="productoNombre">
							<%=singleProduct.nombre%>
						</p>

						<p class="productoPrecio">
							 $ <%=singleProduct.precio%>
						</p>

						

						<div class="contenedor-botones">
							<button class="boton-comprar btn">
								<span><i class="fa-solid fa-cart-shopping"></i>&nbsp Agregar al carrito</span>
							</button>
						</div>
					</div>
					
						<% }) %>
		</section>

		<%- include('./partials/footer'); %>
</body>

</html>