<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head'); %>
		<title>Total Toys</title>
</head>

<body>
	<%- include('./partials/header') %>

		<!--------seccion productos-->
		<section>
			<div class="seccionDelosProductos" style="display: flex; flex-wrap:wrap;">
				<% Productos.forEach(singleProduct=> { %>

					<div class="producto">
						<a href="/productos/detalle-producto/<%=singleProduct.id%>">
							<div class="producto-image">
								<img src="<%=singleProduct.urlImagen%>" />
							</div>
							<p>
								<%=singleProduct.nombre%>
							</p>
						</a>

						<p>
							<strong> $ <%=singleProduct.precio%> </strong>
						</p>

						<div class="contenedor-botones">
							<button class="boton-comprar btn btn-success">
								<span><i class="fa-solid fa-cart-shopping"></i>&nbsp Agregar al carrito</span>
							</button>
						</div>
					</div>
					
						<% }) %>
		</section>

		<%- include('./partials/footer'); %>
</body>

</html>