<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>Pagina Detail</title>
    <link rel="stylesheet" href="/css/pructodetail.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>

    <main>
      
      
      <img class="juguetes" src="/img/ninos/<%=product.imagen%>" />

      <div class="article">

        <h4><%=product.nombre%></h4>

        <div class="precio">
          <h4><%=product.precio%></h4>
        </div>
        <p>
          <%=product.descripcion%>
        </p>

        <div class="seccion">
          <div class="contenedor-botones">
            <button class="boton-comprar">
              <span>Agregar Al Carrito</span>
            </button>
          </div>
          <div class="contenedor-botones">
            <button class="boton-comprar"><span>Comprar</span></button>
          </div>
        </div>
        <div class="editar">
          <a href="/productos/editar-product/<%=product.id%>" >
            <button class="editar-boton ">editar</button>
          </a>
        </div> 
        <form action="/Productos/borrar/<%=Productos.id%>" method="POST">
        <button type="submit">eliminar</button>
        </form>
      </div>
    </main>

<div class="detalles"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quod, fugiat, laudantium velit eveniet cumque pariatur beatae in autem laboriosam quidem quam illum. Quaerat est numquam, id aut pariatur autem.</p>
</div>  
<%- include('./partials/footer'); %>
  </body>
</html>
