<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>Pagina Detail</title>
    <link rel="stylesheet" href="/css/pructodetail.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>

    <main>
      
      
       <!-- <img class="juguetes" src="./img/ninos/<%=product.imagen%>" /> -->

       <img class="juguetes" src="<%=product.urlImagen%>"/>
       

      <div class="article">

        <h4><%=product.nombre%></h4>

        <div class="precio">
          <h4><%=product.precio%></h4>
        </div>
        <p>
          <%=product.descripcion%>
        </p>

        <div class="seccion">
          <div class="contenedor-botones">
            <button class="boton-comprar">
              <span><i class="fa-solid fa-cart-shopping"></i>&nbsp; Agregar Al Carrito</span>
            </button>
          </div>
          <div class="contenedor-botones">
            <button class="boton-comprar"><span><i class="fa-solid fa-bag-shopping"></i>&nbsp; Comprar</span></button>
          </div>
        </div>
        <div class="editar">
          <a href="/productos/editar-product/<%=product.id%>" >
            <button class="editar-boton"><i class="fa-solid fa-pen-to-square"></i>&nbsp; Editar</button>
          </a>
        </div> 
        
        <form action="/productos/borrar/<%=product.id%>" method="POST">
          <button type="submit"><i class="fa-solid fa-trash"></i>&nbsp; Eliminar</button>
          </form>
          
      </div>
    </main>

<div class="detalles"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quod, fugiat, laudantium velit eveniet cumque pariatur beatae in autem laboriosam quidem quam illum. Quaerat est numquam, id aut pariatur autem.</p>
</div>  
<%- include('./partials/footer'); %>
  </body>
</html>
