<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>Pagina Detail</title>
    <link rel="stylesheet" href="/css/pructodetail.css" />
  </head>


  <body>

    <%- include('./partials/header'); %>

      
      
    <div class="imagenDetalle">
      <img src="<%=product.urlImagen%>" alt="">
      <h4><%=product.nombre%></h4>
      <h4><%=product.precio%></h4>
      <p><%=product.descripcion%></p>
    </div>
    
    <div class="article">
     
      <div class="editar">
        <a href="/productos/editar-product/<%=product.id%>" >
          <button class="editar-boton"><i class="fa-solid fa-pen-to-square"></i>&nbsp; Editar</button>
        </a>
      </div> 
    
      <form action="/productos/borrar/<%=product.id%>" method="POST">
        <button type="submit"><i class="fa-solid fa-trash"></i>&nbsp; Eliminar</button>
      </form>

    </div>

 
<%- include('./partials/footer'); %>


  </body>

</html>














