<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>Pagina Detail</title>
    <link rel="stylesheet" href="/css/pructodetail.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>

    <main>
      
      
      <img class="juguete" src="/img/JUGUETES/Niños/<%=product.imagen%>" />

      <div class="article">

        <h4><%=product.nombre%></h4>

        <div class="precio">
          <h4><%=product.precio%></h4>
        </div>
        <p>
          <%=product.descripcion%>
        </p>

        <div class="seccion">
          <div class="contenedor-botones">
            <button class="boton-comprar">
              <span>Agregar Al Carrito</span>
            </button>
          </div>
          <div class="contenedor-botones">
            <button class="boton-comprar"><span>Comprar</span></button>
          </div>
        </div>
      </div>
     
    </main>

    <%- include('./partials/footer'); %>
  </body>
</html>
